@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&family=Lato:wght@300&family=Oswald&family=Silkscreen&display=swap');
/* simple styling for the background of the body and the font used throughout.*/
body{
    background-image:url("../images/stars.jpg");
    width:100vw;
    font-family: 'Silkscreen', cursive;
    overflow-x: hidden;
}
/*a container made holding the same img as the body however this creates a zoom effect witout affecting other elements*/
#image-container{
    background-image:url("../images/stars.jpg");
    overflow-x: hidden;
    width:100vw;
    height:100vh;
    position:absolute;
    z-index: -10;
    animation-name: zoom-effect;
    animation-duration: 300s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
/*the zoom scale*/
@keyframes zoom-effect {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(2);
    }
}
/*header styling to set it in the middle of the screen*/
header{
    text-align:center;
    margin-top:10px;
    padding-bottom:60px;
    color:white;
}
/*set the fail icons into the middle of the screen*/
#fail-div{
    text-align:center;
}
/*style the icons*/
.fail{
    border-style:solid;
    border-radius: 50%;
    border-color:white;
    border-width:2px;
    padding:10px;
    margin-right:40px;
    margin-top:10px;
    color:greenyellow;
    font-size:x-large;
}
/*define the size of the section that holds the main components of the site*/
#mainSection{
    height:350px;
    width:100vw;
}
/*styling for the main game screen, these change as the user progresses*/
#menu-game-screen{
    width:350px;
    height:350px;
    border-radius:50%;
    border-width:5px;
    border-color:purple;
    border-style: solid;
    background-color:rgba(255, 240, 245, 0.356);
    margin:0 auto;
    margin-top:60px;
    margin-bottom:5px;
    text-align:center;
    position:relative;    
}
/*style for the form*/
#name-select{
    padding-top:40%;
    color:black;
    display:inline-block;
}
#input{
    margin-bottom: 10px;
}
#submit{
    height:75px;
}
#submit:hover{
    scale:1.05;
}
#playButton:hover{
    scale:1.05;
}

/*Ensdure the text inputted follows the style of the site*/
#username{
    text-transform: uppercase;
    font-family: inherit;
    text-align: center;
}
#user-label{
    color:white;
}
#difficulty{
    color:white;
    font-size:large;
    margin-bottom:20px;
}
input[type='radio']:checked {
    scale:2;
}
/*Style for the scoreboard tables, this changes depending on the device*/
/*this is specifically for desktops, laptops and some large tablets*/
#scoreboard{
    width:fit-content;
    height:350px;
    border-width:3px;
    border-color:white;
    border-style: solid;
    border-radius: 10px;
    margin-left:5%;
    margin-right:5px;
    margin-top:100px;
    padding-right:5px;
    text-align:left;
    float:left;
    position: relative;
}
/*style the look of the content within the scroreboards*/
#leaderboard{
    color:white;
    width:50%;
}
#leaderboard-heading{
    width:140px;
    padding-right:0px;
    padding-left:15px;
    text-align:center;
    font-size:larger;
    text-decoration-line:underline;
}
.table-data{
    text-transform: uppercase;
}
#scoreboard-hard{
    width:fit-content;
    height:350px;
    border-width:3px;
    border-color:white;
    border-style: solid;
    border-radius: 10px;
    margin-left:0%;
    margin-right:5%;
    margin-top:100px;
    padding-right:5px;
    text-align:left;
    float:right;
    position: relative;
}
#leaderboard-hard{
    color:white;
    width:50%;
}
#leaderboard-heading-hard{
    width:140px;
    padding-right:0px;
    padding-left:15px;
    text-align:center;
    font-size:larger;
    text-decoration-line:underline;
}
/*style for the counter*/
#counter{
    width:350px;
    height:40px;
    border-width:5px;
    border-color:white;
    border-style: solid;
    margin:0 auto;
    margin-top:30px;
    padding-bottom: 25px;
    text-align:center;
    color:white;
    font-size:50px;
}
/*defining the size and position of the portal and what will be the ufo on load*/
#box{
    margin-top:5px;
    margin-left: 20px;
    width: 50px;
    height: 50px;
    position: relative;
    text-align: center;
}
#portal{
    height: 50px;
    width: 50px;
    margin-left: 50px;
    position: absolute;
    bottom:10px;
    opacity: 1;
    scale: 2;
}
#animation{
    height: 50px;
    width: 50px;
    margin-left: 50px;
    position: absolute;
    bottom:10px;
    opacity: 0.2;
}
/*the first fade that occurs on load*/
.fadeout {
    opacity: 0.2;
    transition: 5s;
}
/*responsove styling for diffrenet screen sizes.*/
@media screen and (max-width:865px){
    #menu-game-screen{
        clear:both
    }
    #counter{
        clear:both;
        margin-top:480px;
    }
    #scoreboard{
        margin-left:5px;
    }
    #scoreboard-hard{
        margin-right:5px;
    }
}
@media screen and (max-width:600px){
    #menu-game-screen{
        margin-left:80px;
        margin-right:6px;
    }
    #counter{
        margin-left:80px;
        margin-right:6px;
        margin-top:30px;
    }  
    #leaderboard-heading{
        padding:0;
    }
    #leaderboard-heading-hard{
        padding:0;
    }
}
@media screen and (max-width:500px){
    #menu-game-screen{
        margin-left:60px;
        margin-right:60px;
    }
    #counter{
        margin-left:60px;
        margin-right:60px;
        margin-top:30px;
    }  
}
@media screen and (max-width:450px){
    .fail{
        margin-right:10px;
    }
    #menu-game-screen{
        margin-left:20px;
        margin-right:5px;
    }
    #counter{
        width:350px;
        height:50px;
        margin-left:20px;
        margin-right:5px;
        margin-top:30px;
        padding-bottom: 15px;
    }
    
}
@media screen and (max-width:399px){
    #menu-game-screen{
        width:340px;
        height:340px;
        margin-left:10px;
        margin-right:1px;
    }
    #counter{
        width:340px;
        height:50px;
        margin-left:10px;
        margin-right:5px;
        margin-top:30px;
        font-size:50px;
    }
    
}
@media screen and (max-width:375px){
    #menu-game-screen{
        width:330px;
        height:330px;
        margin-left:5px;
        margin-right:5px;
    }
    #counter{
        width:330px;
        height:50px;
        margin-left:5px;
        margin-right:5px;
        margin-top:30px;
        padding-bottom: 15px;
    }
    
}
@media screen and (max-width:350px){
    .fail{
        margin-right:3px;
        margin-top:3px;
    }
    #menu-game-screen{
        width:280px;
        height:280px;
        margin-left:5px;
        margin-right:5px;
    }
    #counter{
        width:280px;
        height:50px;
        margin-left:5px;
        margin-right:5px;
        margin-top:10px;
        padding-bottom: 15px;
    } 
    
}
@media screen and (max-width:300px){
    .fail{
        padding:8px;
        margin-right:3px;
        margin-top:3px;
    }
    #menu-game-screen{
        width:270px;
        height:270px;
        margin-left:0px;
        margin-right:0px;
    }
    #counter{
        width:270px;
        height:50px;
        margin-left:0px;
        margin-right:0px;
        margin-top:10px;
        padding-bottom: 15px;
    }
    
}

