@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&family=Lato:wght@300&family=Oswald&family=Silkscreen&display=swap');
/* simple styling for the background of the body and the font used throughout.*/
body{
    background-image:url("../images/stars.jpg");
    width:100vw;
    font-family: 'Silkscreen', cursive;
}
/*header styling to set it in the middle of the screen*/
header{
    text-align:center;
    margin-top:10px;
    padding-bottom:60px;
    color:white;
}
/*set the fail icons into the middle of the screen*/
#fail-div{
    text-align:center;
}
/*style the icons*/
.fail{
    border-style:solid;
    border-radius: 50%;
    border-color:white;
    border-width:2px;
    padding:10px;
    margin-right:40px;
    margin-top:10px;
    color:greenyellow;
    font-size:x-large;
}
/*styling for the main game screen, these change as the user progresses*/
#menu-game-screen{
    width:350px;
    height:350px;
    border-radius:50%;
    border-width:5px;
    border-color:purple;
    border-style: solid;
    background-color:rgba(255, 240, 245, 0.356);
    margin-left:35%;
    margin-right:20%;
    margin-top:60px;
    margin-bottom:5px;
    text-align:center;
}
/*style for the form*/
#name-select{
    padding-top:40%;
    color:black;
    display:inline-block;
}
#input{
    margin-bottom: 10px;
}
#submit{
    height:75px;
}
/*Endure the text inputted follows the style of the site*/
#username{
    text-transform: uppercase;
    font-family: inherit;
    text-align: center;
}
#user-label{
    color:white;
}
#dificulty{
    color:white;
    font-size:large;
    margin-bottom:20px;
}
/*Style ofr the scoreboard table, this changes depending on the device*/
#scoreboard{
    width:fit-content;
    height:350px;
    border-width:3px;
    border-color:white;
    border-style: solid;
    border-radius: 10px;
    margin-left:5%;
    margin-right:5px;
    margin-top:100px;
    padding-right:5px;
    text-align:left;
    float:left;
}
#leaderboard{
    color:white;
    width:100%;
}
#leaderboard-heading{
    width:140px;
    padding-right:0px;
    padding-left:15px;
    text-align:center;
    font-size:larger;
    text-decoration-line:underline;
}
.table-data{
    text-transform: uppercase;
}
/*style for the counter*/
#counter{
    width:350px;
    height:40px;
    border-width:5px;
    border-color:white;
    border-style: solid;
    margin-left:35%;
    margin-right:20%;
    margin-top:30px;
    padding-bottom: 25px;
    text-align:center;
    color:white;
    font-size:50px;
}
/*responsove styling for diffrenet screen sizes.*/
@media screen and (max-width:850px){
    #scoreboard{
        margin-left:2%;
    }
}
@media screen and (max-width:600px){
    #menu-game-screen{
        margin-left:80px;
        margin-right:6px;
    }
    #counter{
        margin-left:80px;
        margin-right:6px;
        margin-top:30px;
    }  
}
@media screen and (max-width:500px){
    #menu-game-screen{
        margin-left:60px;
        margin-right:60px;
    }
    #counter{
        margin-left:60px;
        margin-right:60px;
        margin-top:30px;
    }  
}
@media screen and (max-width:450px){
    .fail{
        margin-right:10px;
    }
    #menu-game-screen{
        margin-left:20px;
        margin-right:5px;
    }
    #counter{
        width:350px;
        height:50px;
        margin-left:20px;
        margin-right:5px;
        margin-top:30px;
        padding-bottom: 15px;
    }
    
}
@media screen and (max-width:399px){
    #menu-game-screen{
        width:340px;
        height:340px;
        margin-left:10px;
        margin-right:1px;
    }
    #counter{
        width:340px;
        height:50px;
        margin-left:10px;
        margin-right:5px;
        margin-top:30px;
        font-size:50px;
    }
    
}
@media screen and (max-width:375px){
    #menu-game-screen{
        width:330px;
        height:330px;
        margin-left:5px;
        margin-right:5px;
    }
    #counter{
        width:330px;
        height:50px;
        margin-left:5px;
        margin-right:5px;
        margin-top:30px;
        padding-bottom: 15px;
    }
    
}
@media screen and (max-width:350px){
    .fail{
        margin-right:3px;
        margin-top:3px;
    }
    #menu-game-screen{
        width:280px;
        height:280px;
        margin-left:5px;
        margin-right:5px;
    }
    #counter{
        width:280px;
        height:50px;
        margin-left:5px;
        margin-right:5px;
        margin-top:10px;
        padding-bottom: 15px;
       }
    
}
@media screen and (max-width:300px){
    .fail{
        padding:8px;
        margin-right:3px;
        margin-top:3px;
    }
    #menu-game-screen{
        width:270px;
        height:270px;
        margin-left:0px;
        margin-right:0px;
    }
    #counter{
        width:270px;
        height:50px;
        margin-left:0px;
        margin-right:0px;
        margin-top:10px;
        padding-bottom: 15px;
    }
    
}

