body{
    background-image:url("../images/stars.jpg")
}
header{
    text-align:center;
    margin-right:20%;
    margin-top:10px;
    padding-bottom:60px;
}
.fail{
    border-style:solid;
    border-color:white;
    border-width:2px;
    padding:20px;
    margin-right:40px;
    margin-top:10px;
    color:red;
    font-size:larger;
}
#menu-game-screen{
    width:350px;
    height:350px;
    border-radius:50%;
    border-width:5px;
    border-color:white;
    border-style: solid;
    background-color:azure;
    margin-left:20%;
    margin-right:20%;
    margin-top:60px;
    margin-bottom:5px;
    text-align:center;
}
#input{
    margin-bottom: 10px;
}
#name-select{
    padding-top:50%;
    color:black;
    display:inline-block;
}
#scoreboard{
    width:100px;
    height:350px;
    border-width:5px;
    border-color:white;
    border-style: solid;
    margin-left:5%;
    margin-right:0;
    margin-top:100px;
    text-align:center;
    float:left;
}
#leaderboard{
    color:white;
}
#counter{
    width:350px;
    height:50px;
    border-width:5px;
    border-color:white;
    border-style: solid;
    margin-left:20%;
    margin-right:20%;
    margin-top:10px;
    text-align:center;
    color:white;
    font-size:50px;
}